.header {
  padding: 7px 0;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 4px 15px rgba(22, 25, 31, 0.1);
  z-index: 10;

  &_logo {
    margin-right: 16px;
  }

  &_search {
    display: block;
    width: 100%;
    padding: 12.5px 40px 12.5px 19px;
    border-radius: 30px;
    border: 1px solid #E5EAEF;
    margin-right: 8px;
    min-width: 115px;
    font-weight: 400;
    font-size: 14px;
    background-image: url("../assets/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    &::placeholder {
      color: #8592AA;
    }
  }
  &-basket {
    min-width: 47px;
    height: 47px;
    //background-color: #3985C6;
    border-radius: 50%;
    position: relative;
    background: $blue url("../assets/basket.svg") no-repeat center center;
    cursor: pointer;
    &_count {
      position: absolute;
      top: 0;
      right: -9px;
      min-width: 20px;
      min-height: 20px;
      padding: 0 4px;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F6D20B;
      border: 2px solid #FFFFFF;
      border-radius: 50%;
    }
    //background-repeat: no-repeat;
  }
}